@font-face {
    font-family: 'Old London';
    src: url("../../assets/Olondon_.otf") format("opentype");
    src: url("../../assets/OldLondonAlternate.ttf") format("truetype");
}
@font-face {
    font-family: 'Gregorian';
    src: url("../../assets/GregorianFLF.ttf") format("truetype");
}
@font-face {
    font-family: 'Reddit Regular';
    src: url("../../assets/RedditSansCondensed-Regular.ttf");
    font-weight: normal;
}

.template h1 {
    font-family: "Gregorian";
    text-align: center;
    margin-top: 8rem;
    grid-area: logo;
}

.template {
    background-color: white;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 20vw 30vw 30vw 1fr;
    grid-template-areas: 
    ". logo logo ."
    ". nav nav ."
    ". aside aside ."
    ". posts posts ."
    "footer footer footer footer";
    grid-template-rows: auto auto 10vh auto auto;
    row-gap: 1rem;
    justify-items: stretch;
    align-items: stretch;
}

@keyframes disclamer {
    from {
        display: none;
    }
    to {
        display: inline-flex;
    }
}
.disclaimer {
    margin: 0;
    text-align: center;
    background-color: gray;
    color: white;
    border-radius: 0.5rem;
    display: inline-flex;
    align-items: center;
    letter-spacing: 0.1rem;
    font-size: 0.8rem;
    padding: 0.5rem;
    animation: disclaimer 3s ease-in;
    min-height: 53px;
    height: auto;
}
.disclaimer button {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    padding: 0.5rem;
    background-color: rgb(65, 65, 65);
    color: white;
    border: none;
    border-radius: 0.3rem;
    cursor: pointer;
}
.disclaimer button:hover {
    background-color: rgb(105, 105, 105);
}