@keyframes disclaim-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes disclaim-out {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
@font-face {
    font-family: 'Old London';
    src: url("../../assets/Olondon_.otf") format("opentype");
    src: url("../../assets/OldLondonAlternate.ttf") format("truetype");
}
@font-face {
    font-family: 'Gregorian';
    src: url("../../assets/GregorianFLF.ttf") format("truetype");
}
@font-face {
    font-family: 'Reddit Regular';
    src: url("../../assets/RedditSansCondensed-Regular.ttf");
    font-weight: normal;
}

.template a {
    grid-area: logo;
    text-decoration: none;
    color: black;
}
.template h1 {
    font-family: "Gregorian";
    text-align: center;
    margin-top: 8rem;
}

.template {
    background-color: white;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 15vw 35vw 35vw 1fr;
    grid-template-areas: 
    ". logo logo ."
    ". nav nav ."
    ". aside aside ."
    ". posts posts ."
    "footer footer footer footer";
    grid-template-rows: auto;
    row-gap: 1rem;
    justify-items: stretch;
    align-items: stretch;
}

.disclaimer {
    text-align: justify;
    color: white;
    background-color: rgb(92, 91, 91);
    border-radius: 0.5rem;
    display: inline-flex;
    letter-spacing: 0.05rem;
    font-size: 0.8rem;
    padding: 0.5rem;
    min-height: 53px;
    width: fit-content;
    max-width: 600px;
    align-items: center;
    align-self: center;
    justify-self: center;
    animation: disclaim-in 1.5s ease forwards;
}
.disclaimer-close-button {
    width: 32px;
    height: 32px;
    margin: 0.5rem;
    cursor: pointer;
}
.disclaimer button:hover {
    background-color: rgb(105, 105, 105);
}