.comment {
    padding: 1rem;
    margin: 0.5rem;
    line-height: 1.2rem;
    word-spacing: 0.10rem;
    background-color: #edeeef;
    border: none;
    border-radius: 1.3rem;
    height: auto;
    border: 1px solid rgb(219, 219, 219);
}
.comment p {
    margin: 0;
}
.horizontal-flex {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}
.user-profile {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}