.comment {
    width: fit-content;
    max-width: 100%;
    padding: 1rem;
    margin: 0.5rem;
    background-color: #f1f2f3;
    border: none;
    border-radius: 1.3rem;
    height: auto;
}
.comment-date {
    color: #8a8a8a;
    font-size: 0.75rem;
    margin: 0 !important;
    font-weight: 200;
    margin-left: 1rem !important;
}
.md a::before {
    content: "> ";
}
.md a:hover {
    text-decoration: underline;
}
.md a {
    color: #03a8d8;
}
.md {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;
    padding: 0.5rem;
}
.md blockquote {
    border-left: 3px solid #c4c4c4;
    padding-left: 1.5rem;
    font-style: italic;
    color: #807e7e;
}
.comment .author {
    color: #ff4500;
    font-weight: bold;
    letter-spacing: 0.1rem;
    padding: 0.5rem;
}
.comment p {
    margin: 0;
}
.horizontal-flex {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}
.user-profile {
    width: 32px;
    height: auto;
    border-radius: 50%;
}
@keyframes loading {
    from {
        opacity: 0.1;
    }
    to {
        opacity: 1;
    }
}
.loading_comment {
    width: 95%;
    height: 3rem;
    animation: loading 0.5s infinite alternate;
}
#loader {
    height: 3.5rem;
    margin: 1rem;
    animation: loading 0.5s infinite alternate;
}