.input {
    width: 95%;
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 0.5rem;
}
.search {
    margin: 0.5rem;
    border: none;
}
.typeComment {
    border: none;
    border-bottom: 1px solid rgb(185, 185, 185);
}