@keyframes load {
    from {
        opacity: 0.5;
    }
    to {
        opacity: 1;
    }
}
@keyframes previewUp {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes previewLeft {
    from {
        opacity: 0;
        transform: translateX(-20px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes previewRight {
    from {
        opacity: 0;
        transform: translateX(20px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
.preview-up {
    animation: previewUp 1s;
}
.preview-left {
    animation: previewLeft 1s;
}
.preview-right {
    animation: previewRight 1s;
}

.post-link {
    margin: 0.5rem 0  0.5rem 0;
    display: inline-flex;
    text-decoration: none;
    color: black;
    border-bottom: 1px solid rgb(196, 196, 196);
    padding-bottom: 1rem;
}
.post-link span {
    color: #08a59d;
    font-size: 1.3rem;
}
.post-link img {
    border-radius: 10px;
}
.post-link a {
    text-decoration: none;
    color: black;
}
/* *************************************************** */
.post-preview-img:hover, .post-preview-big:hover, .post-preview-small:hover {
    background-color: rgb(245, 244, 244);
    transition: background-color 0.3s ease-in-out;
}
.post-preview-img, .post-preview-big, .post-preview-small {
    border-radius: 1rem;
    background-color: white;
    padding: 1rem;
}
/* *************************************************** */
.post-preview-img {
    display: flex;
    flex-flow: column;
    justify-content: center;
}
.post-preview-img figure {
    display: inline-flex;
    flex-flow: row;
    align-items: center;
    margin: 0;
}
.post-preview-img img {
    min-width: 250px;
}
.post-preview-img figcaption {
    padding: 1rem;
    text-align: left;
}
.post-preview-img h2, h3 {
    margin: 0;
    padding: 0.5rem 0.5rem 0.5rem 0;
    margin-bottom: 0.5rem;
}
.post-preview-img p {
    text-align: center;
    margin: 0;
    padding: 1rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.post-preview-img p {
    padding: 1rem;
    text-align: center;
    color: #08a59d;
    font-size: 1.3rem;
}
/* *************************************************** */
.post-preview-big {
    height: fit-content;
    text-align: center;
    display: inline-flex;
    flex-flow: column wrap;
}
.post-preview-big figure {
    padding: 0;
    margin: 0;
}
.post-preview-big span {
    margin: 0.5rem;
}
.post-preview-big p {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
/* *************************************************** */
.post-preview-small article {
    border-radius: 1rem;
}
.post-preview-small {
    display: flex;
    flex-flow: column wrap;
}
.post-preview-small figure {
    padding: 0;
    margin: 0;
}
.post-preview-small h3 {
    text-align: left;
    margin-bottom: 0.5rem;
}
.post-preview-small p {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* *************************************************** */
.post-preview {
    background-color: white;
    padding: 1rem;
    width: auto;
    height: fit-content;
    text-align: left;
    display: flex;
    flex-flow: column wrap;
    padding-bottom: 0;
}
/* *************************************************** */
.loading {
    animation: load 0.8s infinite alternate;
    margin: 1rem;
}