@font-face {
    font-family: 'Reddit Regular';
    src: url("../../assets/RedditSansCondensed-Regular.ttf") format("truetype");
    font-weight: normal;
}
@font-face {
    font-family: 'Reddit Bold';
    src: url("../../../assets/RedditSansCondensed-Bold.ttf") format("truetype");
    font-weight: bold;
}
@font-face {
    font-family: 'Reddit Italic';
    src: url("../../../assets/RedditSans-Italic.ttf") format("truetype");
    font-style: italic;
}
@keyframes previewUp {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes previewLeft {
    from {
        opacity: 0;
        transform: translateX(-20px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes previewRight {
    from {
        opacity: 0;
        transform: translateX(20px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
.preview-up {
    animation: previewUp 1s;
}
.preview-left {
    animation: previewLeft 1s;
}
.preview-right {
    animation: previewRight 1s;
}

.post-link {
    display: inline;
    text-decoration: none;
    color: black;
}
.post-link span {
    color: #08a59d;
}


.post-preview {
    background-color: white;
    padding: 1rem;
    width: auto;
    height: fit-content;
    text-align: center;
    display: flex;
    flex-flow: column wrap;
    padding-bottom: 0;
}
.post-preview img {
    border-radius: 1rem;
    height: auto;
}
.post-preview p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 85%;
}
.post-preview span {
    color: #08a59d !important;
    margin-bottom: 0.5rem;
}
.post-preview h2, h3 {
    font-family: "Reddit Bold";
}
.post-preview p {
    font-family: "Reddit Regular";
}
.post-preview span {
    font-family: "Reddit Italic";
}


.post-preview-img {
    font-family: "Reddit Regular";
    display: grid;
    grid-template-areas: 
    "img title"
    "img txt"
    "img txt";
}
.post-preview-img img {
    grid-area: img;
    width: 100%;
    align-self: center;
}
.post-preview-img h2, h3 {
    grid-area: title;
}
.post-preview-img p {
    grid-area: txt;
    height: 8vw;
    overflow: hidden;
    text-overflow: ellipsis;
}
.post-preview-img span {
    grid-area: txt;
    text-align: center;
    font-family: "Reddit Italic";
}


@keyframes loading {
    from {
        background-color: #bcbdbd;
    }
    to {
        background-color: #9f9fa0;
    }
}
.loading-preview-header {
    width: 100%;
    height: 2rem;
    margin: 0;
    align-self: center;
    grid-area: title;
    animation: loading 0.8s infinite alternate;
}
.loading-preview-img {
    width: 95%;
    height: 20vw;
    margin: 0;
    grid-area: img;
    animation: loading 0.8s infinite alternate;
}
.loading-preview-text {
    width: 100%;
    height: 1rem;
    margin-top: 0.5rem;
    align-self: center;
    grid-area: txt;
    animation: loading 0.8s infinite alternate;
}
.loading-preview-paragraph {
    width: 100%;
    height: auto;
    margin: 0;
    grid-area: txt;
    animation: loading 0.8s infinite alternate;
}