@font-face {
    font-family: 'Reddit Regular';
    src: url("../../assets/RedditSansCondensed-Regular.ttf") format("truetype");
    font-weight: normal;
}

.transparent-background-top {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-flow: column wrap;

    backdrop-filter: blur(0.3rem);
    width: 100%;
    height: 100%;
    z-index: 2;

    font-family: "Reddit Regular";
}

.transparent-background-bottom {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-flow: column wrap;

    backdrop-filter: blur(0.3rem);
    width: fit-content;
    height: 90vh;
    z-index: 3;

    position: sticky;
    top: 3rem;

    margin-top: 3rem;
}