@font-face {
    font-family: "Louis George";
    src: url("../../../assets//Louis.ttf") format("truetype");
}
.interactions-panel {
    font-family: "Louis George", sans-serif;
    display: inline-flex;
    align-items: center;
}
.interactions-panel img {
    width: 25px !important;
    height: 25px !important;
    border-radius: 0 !important;
    margin: 0.5rem;
    cursor: pointer;
}