.comments {
    background-color: #dad9d9;
    border-radius: 1rem;
    max-width: 850px;
    width: 70vw;
    height: fit-content;
    padding-bottom: 1rem;
    z-index: 4;
}
.encapsulate {
    padding: 1rem;
    overflow: scroll;
    max-height: 500px;
}
.encapsulate::-webkit-scrollbar {
    display: none;
}
.comments-bar {
    width: 8rem;
    height: 15px;
    margin: 0.8rem;
}
.write-comment {
    width: 100%;
    display: inline-flex;
    justify-content: center;
}

@keyframes loading {
    from {
        opacity: 0.1;
    }
    to {
        opacity: 1;
    }
}
.loading-dots {
    width: 50px;
    margin-top: 2rem;
    animation: loading 0.5s infinite alternate;
}