.comments {
    background-color: #dad9d9;
    border-radius: 1rem;
    width: 100%;
    height: fit-content;
    padding-bottom: 1rem;
    grid-area: c;
    z-index: 4;
}
.comments-bar {
    width: 8rem;
    height: 15px;
    margin: 0.3rem;
}
.write-comment {
    width: 100%;
    display: inline-flex;
    justify-content: center;
}

@keyframes loading {
    from {
        opacity: 0.3;
    }
    to {
        opacity: 1;
    }
}
.loading-dots {
    width: 50px;
    animation: loading 0.8s infinite alternate;
}