.comments {
    background-color: #dad9d9;
    border-radius: 1rem;
    max-width: 850px;
    width: 70vw;
    height: fit-content;
    padding: 1rem;
    z-index: 4;
}
.encapsulate {
    overflow-x: scroll;
    max-width: 850px;
    max-height: 500px;
    display: flex;
    flex-direction: column-reverse;
}
.encapsulate::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
  
  /* Track */
.encapsulate::-webkit-scrollbar-track {
    background: transparent; 
}
.encapsulate::-webkit-scrollbar-corner {
    display: none;
}
   
/* Handle */
.encapsulate::-webkit-scrollbar-thumb {
    border-radius: 0.3rem;
    background: #888; 
}

/* Handle on hover */
.encapsulate::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

.comments-bar {
    width: 8rem;
    height: 15px;
    margin: 0.8rem;
}
.write-comment {
    width: 100%;
    display: inline-flex;
    justify-content: center;
}

@keyframes loading {
    from {
        opacity: 0.1;
    }
    to {
        opacity: 1;
    }
}
.loading-dots {
    width: 50px;
    margin-top: 2rem;
    animation: loading 0.5s infinite alternate;
}