@font-face {
  font-family: 'Reddit Regular';
  src: url(./assets/RedditSansCondensed-Regular.ttf);
  font-weight: normal;
}
@font-face {
  font-family: 'Reddit Italic';
  src: url(./assets/RedditSans-Italic.ttf);
  font-style: italic;
}
@font-face {
  font-family: 'Reddit Light';
  src: url(./assets/RedditSansCondensed-Light.ttf);
  font-weight: lighter;
}
@font-face {
  font-family: 'Reddit Bold';
  src: url(./assets/RedditSansCondensed-Bold.ttf);
  font-weight: bold;
}
@font-face {
  font-family: 'Reddit SemiBold';
  src: url(./assets/RedditSansCondensed-SemiBold.ttf);
}
@font-face {
  font-family: 'Reddit ExtraBold';
  src: url(./assets/RedditSansCondensed-ExtraBold.ttf);
  font-weight: bolder;
}
@font-face {
  font-family: 'Old London';
  src: url("./assets/Olondon_.otf") format("opentype");
  src: url("./assets/OldLondonAlternate.ttf") format("truetype");
}

body {
  margin: 0;
  padding: 0;
  font-family: "Reddit Regular", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: grid;
  grid-template-columns: 20vw 30vw 30vw 20vw;
  grid-template-rows: auto;
  grid-template-areas: 
      ". logo logo ."
      ". nav nav ."
      ". primary primary ."
      ". a1 a2 ."
      ". secondary secondary ."
      ". a3 a4 ."
      ". a5 a6 ."
      ". a7 a8 ."
      ". a9 a10 ."
      " footer footer footer footer";
  row-gap: 1rem;
  justify-items: stretch;
  align-items: stretch;
}
h1 {
  font-family: "Old London";
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
