footer {
    background-color: rgb(49, 49, 49);
    color: white;
    height: fit-content;
    padding: 3rem;
    margin-top: 3rem;
    display: inline-flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    grid-area: footer;
}
footer .reddit-trademark {
    width: 100px;
    height: auto;
    margin: 0 0.5rem 0 0.5rem;
}
footer ul {
    list-style: none;
    display: inline-flex;
    padding: 0;
    margin: 0;
}
footer ul li img {
    margin: 0.3rem;
}
.tm-32 {
    width: 32px;
    height: auto;
}
.tm-50 {
    width: 50px;
    height: auto;
}
details {
    margin: 0.5rem;
    width: 100%;
    text-align: center;
    letter-spacing: 0.1rem;
}
details summary {
    cursor: pointer;
    color: #ff4500;
}
details a {
    text-decoration: none;
    color: #ff4500;
}